server:
  port: 8080

spring:
  config:
    import: classpath:application-apikey.yml

  output:
    ansi:
      enabled: always

  profiles:
    active: dev
  #    include: test

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/flicktionary
    username: root
    password: lldj123414

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    open-in-view: false
    hibernate:
      ddl-auto: update
    #      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 10

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.orm.jdbc.extract: TRACE
    org.springframework.transaction.interceptor: TRACE

custom:
  jwt:
#    secret-key: ${JWT_SECRET_KEY}
    secret-key: your_secret_key
    # 접근 토큰 유효기간(초)
    access-expire-seconds: "#{300}"
    # 리프레시 토큰 유효기간(일)
    refresh-expire-days: "#{7}"

tmdb:
  base-image-url: your_tmdb_base_image_url
